<% provide(:title, "Home") %>

<div class="center jumbotron text-center">
  <h1>Welcome to the Sample App</h1>
  <h2>
    This is the home page for the
    <%= link_to "Ruby on Rails Tutorial", "https://www.railstutorial.org/" %>
    sample application.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary mt-3" %>
</div>

<div class="text-center mt-4">
  <%= link_to "https://rubyonrails.org/" do %>
    <%= image_tag "rails.png", alt: "Rails logo", width: "200" %>
  <% end %>
</div>
